:root{
  --cor-fundo:rgb(244, 237, 237);
  --cor-fundo-verde:rgb(28, 59, 46);
  --cor-fundo-verde-claro:rgb(65, 101, 75);
  --cor-letra: rgb(16, 15, 15);
  --cor-letra-branca: rgb(237, 225, 225);
}

h1, h2, h3, h4, h5, h5, p{
  font-family: "Nunito", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    overflow: hidden; /* Remove a barra de rolagem padrão */
    
  }
  
  header {
    background-color: var(--cor-fundo-verde);
    color: var(--cor-letra-branca);
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 0.5rem;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: var(--cor-letra);
    text-decoration: none;
    font-weight: bold;
  }
  
  .fullpage {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  
  .about-section {
    color: var(--cor-letra-branca);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.content h2{
    font-size: 50px;
    margin-left: 2rem;
    margin-top: -10%;
}

  .content p{
    margin: 3rem;
    font-size: 20px;
  }


  .content .texto3 h2{
    margin-left: -50%;
    color: var(--cor-letra);   
  }

  .content .texto3 img{
    margin-top: 5%;
    border: 2px solid rgb(0, 0, 0);
  }

  .sectionLoc{
    background-color: var(--cor-fundo-verde-claro);
  }

  section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
    scroll-snap-align: start;
    padding: 2rem;
  }
  
  .section:nth-of-type(odd) {
    background-image: url(../IMG/Fundo.png);
    background-size: cover;
  }
  
  footer {
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    text-align: center;
    padding: 1rem;
  }
  